#pricing {
  padding-block: 100px;

  .container {
    .plans {
      margin-top: 60px;

      .plan-wrapper {
        height: 100%;
        display: flex;
        flex-direction: column;

        &:hover {
          .parches {
            transform: translateY(0);
            opacity: 1;
          }
        }

        .plan {
          flex-grow: 1;
          position: relative;
          z-index: 2;
          background-color: white;
          padding-top: 30px;
          border-radius: 10px;
          box-shadow: 0 20px 40px 0 rgb(0 0 0 / 0.1);

          h3.card-title {
            text-align: center;
            padding-block: 25px 20px;
            background: #ecf0f4;
          }

          .duration {
            position: relative;
            padding-block: 60px 20px;

            &::after {
              content: "";
              position: absolute;
              bottom: 0;
              left: 50%;
              transform: translateX(-50%);
              width: 70px;
              height: 3px;
              background-color: var(--accent);
            }

            sup {
              display: inline-block;
              font-size: 18px;
              font-weight: 700;
              color: var(--accent);
              transform: translateY(-7px);
            }

            span {
              color: var(--accent);
              font-size: 48px;
              font-weight: 800;
              line-height: normal;
              font-family: var(--font-lato);
            }

            sub {
              color: #333333;
              font-size: 16px;
              font-weight: 700;
              line-height: 24px;
            }
          }

          ul.features {
            padding: 45px 50px 50px;

            li {
              i {
                color: var(--accent);
                font-size: 16px;
                line-height: 16px;
              }

              span {
                color: #777;
                font-size: 18px;
                font-weight: 400;
                line-height: 22px;
              }
            }
          }
        }

        .parches {
          margin-top: -30px;
          gap: 10px;
          cursor: pointer;
          padding: 44px 44px 18px;
          background-color: var(--accent);
          border-radius: 10px;

          color: white;
          font-family: var(--font-lato);
          font-size: 14px;
          font-weight: 800;
          line-height: 26px;
          text-transform: uppercase;
          transform: translateY(calc(-50% - 15px));
          opacity: 0;
          transition:
            transform 0.4s ease,
            opacity 0.4s ease;

          &.active {
            transform: translateY(0);
            opacity: 1;
          }

          i {
            color: white;
            font-size: 14px;
          }
        }
      }
    }
  }
}
