@keyframes button-ripple {
  70% {
    box-shadow: 0 0 0 15px currentColor;
    opacity: 0;
  }
  100% {
    box-shadow: 0 0 0 0 currentColor;
    opacity: 0;
  }
}

#video {
  padding-top: 90px;

  .container {
    gap: 90px;
    .video-img-wrapper {
      img {
        width: 100%;
        height: clamp(300px, 45vw, 500px);
        object-fit: cover;
        object-position: left;
      }

      button.play-btn {
        bottom: 50%;
        right: 50%;
        transform: translate(50%, 50%);

        width: clamp(60px, 8vw, 95px);
        height: clamp(60px, 8vw, 95px);
        border: none;
        background-color: var(--accent);
        transition: all 0.4s ease;

        &:hover {
          background-color: white;
          color: var(--accent);

          i {
            color: var(--accent);
          }
        }

        &::after {
          content: "";
          position: absolute;
          z-index: -1;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          color: white;
          border-radius: 50%;
          animation: button-ripple 3s infinite;
          animation-delay: 0.3s;
        }

        &::before {
          content: "";
          position: absolute;
          z-index: -1;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          color: white;
          border-radius: 50%;
          animation: button-ripple 3s infinite;
          animation-delay: 0.9s;
        }

        i {
          color: white;
          font-size: 15px;

          &::after {
            content: "";
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            color: white;
            border-radius: 50%;
            animation: button-ripple 3s infinite;
            animation-delay: 0s;
          }
        }
      }

      .modal .modal-dialog {
        width: 900px !important;
        max-width: 95%;

        .modal-content {
          iframe {
            max-width: 100%;
            aspect-ratio: 16/9;
          }
        }
      }
    }

    p {
      font-size: 30px;
      font-weight: 400;
      line-height: 40px;
      letter-spacing: -0.3px;

      max-width: 870px;
      margin-inline: auto;
      text-align: center;

      @media (max-width: 767px) {
        font-size: 24px;
      }
    }
  }
}
