#team {
  padding-block: 70px;

  .container {
    .row {
      padding-top: 60px;

      .instructor-box {
        margin-bottom: 4.5rem;
        border-radius: 15px;
        overflow: hidden;

        &:hover {
          .floating-profile {
            opacity: 1;
            transform: translateY(0);
            pointer-events: visible;
          }
        }

        &.active {
          .floating-profile {
            opacity: 1;
            transform: translateY(0);
            pointer-events: visible;
          }
        }

        img {
          background-color: #c1f3e6;
          width: 100%;
          aspect-ratio: 1/1;
          object-fit: cover;
          object-position: top;

          @media (min-width: 576px) and (max-width: 767px) {
            width: 80%;
          }
        }

        .text {
          h3 {
            color: var(--primary);
            line-height: 42px;
          }

          p {
            font-size: 14px;
            font-weight: 400;
            line-height: 26px;
            letter-spacing: -0.14px;
            color: var(--secondary);
          }
        }

        .floating-profile {
          border-radius: 15px;
          overflow: hidden;
          opacity: 0;
          transform: translateY(-55px);
          transition:
            transform 0.4s ease,
            opacity 0.4s ease;
          pointer-events: none;

          img {
            background-color: #15c08d;
          }

          .content {
            position: relative;
            z-index: 2;
            background-image: linear-gradient(to top, #273c66 0%, #fff0 100%);
            padding-block: 40px;

            h3 {
              color: white;
              line-height: 43px;
            }

            p {
              color: white !important;
              font-size: 14px;
              font-weight: 400;
              line-height: 26px;
              letter-spacing: -0.14px;
              color: var(--secondary);
            }

            .media-icons {
              gap: 20px;
              padding-top: 10px;

              i {
                color: white;
                font-size: 13;
              }
            }
          }
        }
      }
    }
  }
}
